/* .form-login {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

} */
.form-container {

    margin: 0 auto;
    width: 50%;
}

.login-btn {
    border: 2px solid rgb(76, 84, 206);
    background: none;
    padding: 10px 20px;
    margin-top: 2px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(6, 75, 223);
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-out, opacity 0.3s ease-out;
}

.login-btn:hover {
    box-shadow: 0 0 20px 10px rgba(17, 185, 53, 0.5);
    transform: scale(1.05);
    opacity: 0.8;
    color: white;
    font-weight: bold;
}