.dropdown {
    padding: 10px;

}

.dropdown-link {
    color: rgb(57, 65, 57);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.1s ease;

}

.dropdown-link:hover {
    color: blueviolet;
}

.navbar-brand img {
    height: 70px;
    /* Change this value as needed */
}