.name {
    font-family: 'Roboto', sans-serif;
}

.category {
    font-family: 'Roboto', sans-serif;
}

/* 
.trans {
    height: 300px;

} */

.trans:hover {
    transform: scale(1.02, 1.02);
    transition: transform .4s ease-out;
    /* border: 1px solid red; */
    cursor: pointer;
    box-shadow: -10px 10px 15px rgba(54, 151, 207, 0.5)
}


.card-img {
    width: 100%;
    height: 25vw;
}

.image {
    height: 30vw;
}

@media screen and (max-width: 767px) {
    .card-img {
        height: 50vw;
    }

    .image {
        height: 60vw;
    }
}

.product-name {
    font-weight: bold;
    color: crimson;
}

.products {

    margin: 0 auto;
}